# Global --------------------------

variables:
  PIP_CACHE_DIR: "${CI_PROJECT_DIR}/.cache/pip"

cache:
  key: "${CI_JOB_NAME}"
  paths:
    - .cache/pip
    - .venv

stages:
  - quality
  - tests

# Jobs templates ------------------

.install-deps-template: &install-deps
  image: python:{{ cookiecutter.python_version }}
  before_script:
    - pip install poetry
    - poetry --version
    - poetry config virtualenvs.in-project true
    - poetry config installer.max-workers 10
    - poetry install -vv

.quality-template: &quality
  <<: *install-deps
  stage: quality

# Quality jobs ----------------------

check-poetry:
  <<: *quality
  script: make check-poetry

check-codestyle:
  <<: *quality
  script: make check-codestyle

check-ruff:
  <<: *quality
  script: make check-ruff

check-mypy:
  <<: *quality
  script: make check-mypy

check-safety:
  <<: *quality
  script: make check-safety

# Tests jobs ------------------------

test:
  <<: *install-deps
  stage: tests
  coverage: '/TOTAL.*\s(\d+\.\d+\%)/'
  script: make test
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: reports/coverage.xml
    when: always
    expire_in: 1 week
